.vp-navbar {
  position: static;
  box-shadow: none;
  font-family: "PT Serif", var(--font-family-heading);

  .vp-nav-links {
    font-size: 18px;
  }
}
.vp-navbar .nav-item > .nav-link.active {
  color: var(--dark-grey);
}
.vp-navbar .nav-item > .nav-link:hover {
  color: var(--theme-color);
}
.vp-navbar .nav-item > .nav-link::after {
  display: none;
}

.vp-navbar .vp-nav-logo{
  border-radius: 50%;
}

.vp-navbar .vp-site-name{
  font-style: italic;
}