// place your custom styles here
@use "@sass-palette/hope-config";
@use "font";
@use "navbar/navbar";
@use "blog/blog-info";
@use "info/toc";
@use "info/page-info";
@use "info/page-meta";
@use "info/category-info";
@use "info/tag-info";
@use "main-page";

.vp-page {
  background-color: var(--bg-color-float) !important;
}
:root {
  --font-family-heading: "JetBrainsMono", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica,
    "PingFangSC-Regular", "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei",
    "Source Han Sans CN", "WenQuanYi Micro Hei", SimSun, sans-serif;
  --font-family: "JetBrainsMono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, "PingFangSC-Regular",
    "Hiragino Sans GB", "Lantinghei SC", "Microsoft Yahei", "Source Han Sans CN",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
}

html {
  // --font-family-heading: "PT Serif", bomian_font !important;
  // --font-family: "PT Serif", bomian_font !important;
  -webkit-font-smoothing: auto;
  font-size: 17px;
  @media (max-width: hope-config.$pad) {
    font-size: 16px;
  }

  @media (max-width: hope-config.$mobile) {
    font-size: 15px;
  }
}

div {
  display: block;
}

.theme-container .vp-page {
  padding-top: 0;
}

.vp-page-title h1 {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

@media (min-width: 1440px) {
  .theme-container.no-sidebar .vp-page,
  .theme-container.no-sidebar.has-toc .vp-page {
    padding-inline: 0;
  }
}
